* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: #e3f2fd;
}
header{
  padding:1rem;
  margin:0;
  text-decoration: underline;
}
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #1a1a1a;
  color: white;
  padding: 1rem;
  overflow-y: auto;
}
#navbar header {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
#top, .nav-link {
  display: block;
  color: white;
  text-decoration: none;
  margin: 0.5rem 0;
  padding: 0.25rem 0;
}
#top, .nav-link:hover {
  text-decoration: underline;
  color: blue;
}

pre code {
  background-color: #eee;
  padding: 0.5rem;
  display: block;
  border-radius: 4px;
  font-family: monospace;
}
.main-section {
  margin-bottom: 3rem;
}
#main-doc {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
  line-height: 1.6;
  margin-left: 260px; /*pushes main content more to the left*/
  padding: 2rem;
  flex: 1;
}
@media (max-width: 768px) {
  #navbar {
    position: relative;
    width: 100%;
    height: auto;
  }
  #main-doc {
    margin-left: 0;
  }
}
html {
  scroll-behavior: smooth;
}