h1{
    font-size:x-large;
}

* {
    background-color:gray;
    font-family: 'Courier New', Courier, monospace;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
nav a {
  color: black; /* change to your preferred color */
  text-decoration: none; /* removes underline */
  margin-left: 1rem;
}
#intro{
    font-size: small;
}
#intro h2 {
    font-weight: normal;
}
#skills{
    font-size: medium;
}
